<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eveb.bottlepay.common.mapper.UserMapper">

    <insert id="createUserInfo">
         INSERT INTO user_balance(userId,
								balance 
         				) VALUES (
         					  #{userId},
         					  #{balance}
         				)
    </insert>
    
    <update id="updateUserInfo">
         update user_balance set balance=#{balance} where userId=#{userId}
    </update>
    
    <update id="updateUserInfoPay">
         update user_balance set balance=(balance+#{balance}) where userId=#{userId}
    </update>
    
    <select id="getUserBalance" resultType="java.math.BigDecimal" parameterType="java.lang.Integer">
    	select balance from user_balance where userId = #{userId}
    </select>
    
    <select id="findUserInfoById" resultType="com.eveb.bottlepay.common.entity.UserEntity">
    	select id,
    		   userId,
    		   balance 
    	  from user_balance where userId = #{userId}
    </select>
    
</mapper>