<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eveb.bottlepay.common.mapper.VendorMapper">

    <select id="getPaymentVendor" resultType="com.eveb.bottlepay.common.entity.Vendor">
       select id,
			  vendorName,
			  vendorCode,
			  createUser,
			  createTime,
			  modifyUser,
			  modifyTime,
			  isEnable,
			  password 
         from vendor 
    </select>
    
    <select id="getVendorById" resultType="com.eveb.bottlepay.common.entity.Vendor" parameterType="java.lang.Integer">
       select id,
			  vendorName,
			  vendorCode,
			  createUser,
			  createTime,
			  modifyUser,
			  modifyTime,
			  isEnable,
			  password,
			  returnUrl,
			  notifyUrl
         from vendor where id=#{id}
    </select>
    
</mapper>